{% extends 'master.html' %}


{% block title %}
To-Let | Services
{% endblock %}


{% block content %}
<section id="services" class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="display-4">Let's take our services</h1>
                
                {% for x in services %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ x.id }}</h5>
                        
                        {% if x.icon %}
                            <img src="{{ x.icon.url }}" alt="Service">
                        {% else %}
                            None
                        {% endif %}
                
                        <h5 class="card-title">{{ x.title }}</h5>
                        <p class="card-text">{{ x.content }}</p>
                    </div>
                  </div>
                {% empty %}
                    <h5>No services available right now.</h5>
                {% endfor %}


                
                {% comment %}
                    <div class="card text-center"></div>
                {% endcomment %}
                    
                    
            </div>
        </div>
    </div>
</section>
{% endblock %}